.cf:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.cf {
  display: inline-block;
}
* html .cf {
  height: 1%;
}
.cf {
  display: block;
}
.subscription {
}
.inputbox {
  padding-top: 10px;
  text-align: right;
}
.inputbox.bar {
  margin-top: 2px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.inputbox .inputboxwrap {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: solid;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 5px;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: solid;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 5px;
  margin-bottom: 5px;
}
.inputbox input {
  background-color: #FFFFFF;
  background-position: right center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: solid;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 1px;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: solid;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  width: auto;
}
.inputbox.subscription input {
  background-image: url("ico_newsletter-40x30.png");
  width: auto;
}
 .innerbox {
  background-color: #FFFFFF;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.follow .followbox {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 30px;
  padding-top: 10px;
}
.follow .boxtwitter {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #EEF9FE;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-top-color: #C5DDF0;
  border-top-style: solid;
  border-top-width: 1px;
  padding-left: 10px;
}
.follow .boxgplus {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #F6F6F6;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-top-color: #D7D7D7;
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  text-align: center;
}
.follow .boxfacebook {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #F6F6F6;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-top-color: #D7D7D7;
  border-top-style: solid;
  border-top-width: 1px;
}
.follow .inputbox {
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 0;
  padding-top: 0;
}
.follow .inputbox input {
  width: auto;
}

#main {
  clear: both;
}
#main .innerbox {
  background-color: white;
}
#main .trescuartos {
  float: left;
  width: 450px;
}
#main .trescuartos p {
  border-top-color: #EEEEEE;
  border-top-style: solid;
  border-top-width: 1px;
  color: #999999;
  padding-top: 10px;
}
#main .trescuartos input {
  font-size: 0.9em;
  margin-right: 15px;
}
#main .trescuartos input#URL {
  width: 200px;
}
#main .trescuartos input#shortURL {
  width: 100px;
}
#main .uncuarto {
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #EEEEEE;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: solid;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 1px;
  float: right;
  padding-left: 10px;
  width: 150px;
}
#main .uncuarto li {
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
}
#main .dostercios {
  float: left;
  padding-left: 70px;
  width: 330px;
}
#main .dostercios h5 {
  font-family: 'Lucida Grande',Tahoma,Arial,Verdana,sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}
#main .dostercios h5 img {
  float: left;
  margin-left: -70px;
}
#main .dostercios p {
  font-size: 0.9em;
  line-height: 1.5em;
}
#main .untercio {
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #EEEEEE;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: solid;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 1px;
  float: right;
  padding-left: 10px;
  width: 200px;
}
#main .untercio h6 {
  color: #333333;
  font-family: 'Lucida Grande',Tahoma,Arial,Verdana,sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 1em;
}
#main .untercio li {
  margin-bottom: 1em;
}
#main .untercio li:last-child {
  margin-bottom: 0;
}
#main .untercio li a {
  font-size: 0.9em;
}
.inputboxwrap form, .follow .inputbox form {
  position: relative;
}

.inputbox.subscription button, .follow .inputbox button {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-color: -moz-use-text-color;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: -moz-use-text-color;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: none;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: medium;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: -moz-use-text-color;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: none;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: medium;
  border-top-color: -moz-use-text-color;
  border-top-style: none;
  border-top-width: medium;
  cursor: pointer;
  display: block !important;
  font-size: 0;
  height: 30px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: absolute;
  top: 0;
  width: 41px;
}
.inputbox.subscription button {
  right: 0;
}
.bodytext .innerbox {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
/*fayerwayer.css*/
#sidebar {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #EEEEEE;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
}
